.header {
  display: grid;
  grid-template-rows: 60% 40%;
}

.navbar {
  background-color: $primary;
  color: white;
  font-weight: 500;
  display: grid;

  grid-template-columns: 18% 1fr 10% 10%;

  column-gap: 10rem;
  justify-items: center;
  align-items: center;

  box-shadow: 0 1px 0 0 #dbeafe;
  margin-bottom: px;

  .logo {
    display: block;
    width: 17rem;
    height: 100%;
  }
  .search {
    display: flex;
    justify-content: stretch;
    width: 80%;
    height: 3rem;
    transition: 0.5s all;

    &__input {
      border: none;
      outline: none;
      border-radius: 200px;
      margin-right: -3.1rem;
      padding-left: 1rem;
      font-family: inherit;
      color: $text__color;

      align-self: stretch;
      flex-grow: 1;

      &:hover + .search__button {
        color: $primary;
      }
    }
    &__button {
      background-color: transparent;
      color: $text__color;
      box-sizing: inherit;
      border: none;
      box-shadow: none;
      font-size: 1.6rem;
      cursor: pointer;
      align-self: center;
      margin-top: 0.3rem;
    }

    &:hover {
      width: 85%;
    }
  }

  .signIn {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
  }
  .cart {
    cursor: pointer;

    .MuiBadge-badge {
      background-color: #1e3a8a;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}

.products {
  color: white;
  background-color: $secondary;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;

  padding-left: 4rem;

  &__item {
    display: flex;
    margin: 0 2em;
    height: 2rem;
    cursor: pointer;
  }

  &__menu {
    margin-top: 0.1rem;
  }
}
