.header {
  display: grid;
  grid-template-rows: 60% 40%;
}

.navbar {
  background-color: $primary;
  color: white;
  font-weight: 500;
  display: grid;
  // height: 100%;
  grid-template-columns: 18% 1fr 5% 5% 10%;

  column-gap: 9rem;
  justify-items: center;
  align-items: center;

  box-shadow: 0 1px 0 0 #dbeafe;
  margin-bottom: px;

  .logo {
    width: 17rem;
    // height: 100%;
  }
  .search {
    display: flex;
    justify-content: stretch;
    width: 80%;
    height: 3rem;
    transition: 0.5s all;

    &__input {
      border: none;
      outline: none;
      border-radius: 200px;
      margin-right: -3.1rem;
      padding-left: 1rem;
      font-family: inherit;
      color: $text__color;

      align-self: stretch;
      flex-grow: 1;

      &:hover + .search__button {
        color: $primary;
      }
    }
    &__button {
      background-color: transparent;
      color: $text__color;
      box-sizing: inherit;
      border: none;
      box-shadow: none;
      font-size: 1.6rem;
      cursor: pointer;
      align-self: center;
      margin-top: 0.3rem;
    }

    &:hover {
      width: 85%;
    }
  }

  &__sign-in,
  &__register {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;

    @include header-item-hover;
  }

  .cart {
    cursor: pointer;

    .MuiBadge-badge {
      background-color: #1e3a8a;
      font-size: 1.4rem;
      font-weight: 700;
    }

    @include header-item-hover;
  }
}

.products {
  color: white;
  background-color: $secondary;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  // vertical-align: center;
  padding-left: 4rem;

  &__item {
    margin: 1rem 2rem;
    padding: 0.4rem 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .5s;

    &:hover {
      border: 1px solid white;
    }

    &:first-child{
      margin-top: 1%;
      // margin-bottom: au;
    }
  }
}
