.landing-item {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-content: space-between;

  &__img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 20rem;
  }

  &__img {
    max-height: 20rem;
    max-width: 20rem;
  }

  &__name {
    width: 20rem;
    font-size: 1.5rem;
  }
}
