*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
    font-family: $font;
    font-size: 1.6rem;
    color: $text__color;
}

a,
a:link,
a:visited{
  text-decoration: none;
  color: inherit;
}

hr {
  height: 1px;
  border: none;
  box-shadow: 0 1px 0 0 #e1e1e4;
}

img{
  display: block;
}