//variables
//colors
$primary: #0984e3;
$secondary: #74b9ff;
$color__palette1: #cbf1f5;
$color__palette2: #e3fdfd;
$text__color: #71727e;
$text__color-contact: #444;
$title__bg: #a5b4fc;
$footer__bg: #101d2c;

//font
$font: "Poppins", sans-serif;
$font__secondary: "Roboto", sans-serif;