.account {
  min-height: $min__body__height;
  @include flex-center;
  background-image: linear-gradient(to bottom, #fff, $secondary, $primary);

  &__text {
    height: 20rem;
    width: 40rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: $shadow;
    line-height: 2;
  }

  &__delete{
    margin-top: 2.5rem;
    color: $primary;
    text-align: center;
    cursor: pointer;
  }
}
