#landingPage {
  display: grid;
  grid-template-rows: 20rem 100%;

  .title {
    background-image: linear-gradient(to right, #fff, $secondary, $primary);
    .keen-slider__slide {
      overflow: hidden;
      color: $text__color;
      font-family: "Pacifico", sans-serif;
      height: 100%;
      width: 100%;
      background-image: none;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      @include align-justify-center;
    }
    &__brand {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }
    &__section {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }
    &__image {
      margin-right: auto;
      grid-row: 1 / end;
      grid-column: 2 / end;

      img {
        height: 20rem;
      }
    }
  }

  .body {
    background-image: linear-gradient(to bottom, #fff, #bfdbfe, #1e3a8a);
    margin-bottom: 15rem;
    &__product {
      margin-bottom: 2rem;
      display: grid;
      row-gap: 1rem;
      grid-template-rows: minmax(5rem, max-content) minmax(20rem, min-content);
    }

    &__product:last-child .body__product-title,
    &__product:nth-child(3) .body__product-title {
      color: #fff;
    }

    &__product-title {
      display: block;
      align-self: center;
      text-transform: uppercase;
      padding: 2rem 0 0.5rem 5rem;
      font-weight: 400;
      font-size: 2rem;
      grid-row: 1 / 2;
    }

    &__product-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      grid-row: 2 / 3;
      overflow: hidden;
    }

    &__product-item {
      display: flex;
      justify-content: center;
      cursor: pointer;
      background-color: white;
      width: 25rem;
      height: 35rem;
      border-radius: 3px;
      padding: 2rem 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
  }
}
