.products-page {
  min-height: 90vh;

  &__title {
    // width: 100%;
    height: 10rem;
    padding: 4rem 10rem;
    box-shadow: $shadow;
    font-size: 2rem;
    text-transform: uppercase;

    // font-weight: 300;
  }

  &__list-item {
    background-color: #f5f5f5;
  }

  ///items

  &__item {
    min-height: 30rem;
    padding-top: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    // gap: 2rem 2rem;
    box-shadow: $shadow;
  }

  &__item-picture {
    // background-color: bisque;

    cursor: pointer;
    p {
      color: $primary;
      margin: 2rem;
      text-transform: capitalize;
      text-align: center;
    }
  }

  &__item-name {
    // background-color: bisque;

    cursor: pointer;
  }
  &__item-price {
    // background-color: bisque;
    // align-self: stretch;
    width: 30rem;
    // padding: ;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 600;

    p {
      color: $text__color-price;
      text-align: center;
      margin-bottom: 2.5rem;

      // margin-bottom: auto;
    }

    .btn-regular {
      width: 100%;
    }
  }
}
