.products-page {
  min-height: 90vh;

  &__title {
    height: 10rem;
    padding: 4rem 10rem;
    box-shadow: $shadow;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__list-item {
  }

  ///items

  &__item {
    min-height: 30rem;
    padding-top: 5rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: stretch;
    box-shadow: $shadow;
  }

  &__item-picture {
    img {
      cursor: pointer;
      max-height: 20rem;
      max-width: 20rem;
    }

    p {
      cursor: pointer;
      color: $primary;
      margin: 2rem;
      text-transform: capitalize;
      text-align: center;
    }
  }

  &__item-name {
  }
  &__item-price {
    width: 30rem;
    font-size: 2.5rem;
    font-weight: 600;

    p {
      color: $text__color-price;
      text-align: center;
      margin-bottom: 2.5rem;
    }

    .btn-regular {
      width: 100%;
    }
  }
}
