.register {
  @include register-signin-top-styles;

  &__logo {
    @include register-signin-logo;
  }

  &__container {
    height: 47rem;
    @include register-signin-container;
  }

  &__form {
    display: grid;
    grid-template-rows: repeat(5, 1fr) 4px 1fr;
    align-items: center;
    justify-content: initial;
    row-gap: 1.5rem;

    // input label
    .MuiInputLabel-root {
      font-size: 1.3rem;
      padding-right: 0.2rem;
      background-color: white;
    }
  }

  &__text {
    @include register-signin-text;
  }

  &__name {
  }
  &__email {
  }
  &__password {
  }

  &__create-account,
  &__text-password {
    line-height: 1;
    margin-top: -1.5rem;
    font-size: 1rem;
  }

  &__separator {
    @include register-signin-separator;
  }
}
