.reset_password {
  min-height: $min__body__height;
  //   @include flex-center;
  background-image: linear-gradient(to bottom, #fff, $secondary, $primary);

  &__box {
    background-color: #fff;
    padding: 0.5rem;
    width: 30rem;
    min-height: 15rem;
    margin-top: 5rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
  }

  &__title {
    text-align: center;
    // color: #f0f0f0;
  }

  &__form {
    height: 100%;
    margin-bottom: .3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // justify-content: stretch;
  }

  &__email {
      // background-color: blue;
    margin-top: 1rem !important;
  }

  &__btn {
    margin-top: 1rem;
    background-color: $secondary;
    padding: 0.5rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid $secondary;
    box-shadow: $shadow;
    transition: all 0.5s;

    &:hover {
      background-color: $primary;
    }
    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__confirmation {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}
