.shopping {
  color: $text__color;
  display: grid;
  background-image: linear-gradient(to bottom,$primary, $secondary);

  min-height: $min__body__height;

  grid-template-columns: 1fr 32rem;
  column-gap: 2rem;
  padding: 2rem;

  &__list-item {
    background-color: #fff;
    padding: 1rem;
  }

  &__title {
    font-size: 3rem;
    box-shadow: 0 1px 0 0 #e1e1e4;
    margin-bottom: 1.5rem;
  }

  &__item {
    height: 20.2rem;
    border: 1px solid #e1e1e4;
    margin-bottom: 1rem;

    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 30% 35% 35%;

    align-items: center;
  }

  &__picture {
    overflow: hidden;
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
    img {
      width: 20rem;
      max-height: 20rem;
    }
  }
  &__name {
    grid-row: 1 / span 1;
    grid-column: 2 / end;
  }
  &__price {
    grid-row: 2 / span 1;
    grid-column: 2 / end;
  }
  &__quantity {
    .MuiOutlinedInput-input {
      padding-top: 1.05rem;
      padding-bottom: 1.05rem;
    }
  }
  &__delete {
    margin-left: auto;
    margin-right: 1rem;
    color: $primary;
    cursor: pointer;
  }

  /////////////////////////////////Right side

  &__total {
    background-color: #fff;
    padding: 1rem;
    height: 20rem;

    display: grid;

    grid-template-rows: 1fr 2px 1fr;
    grid-template-columns: 1fr 1fr;

    align-items: center;
  }

  .btn-regular {
    grid-column: 1 / end;
  }

  hr {
    grid-column: 1 / end;
  }
  &__item-qty {
  }

  &__subtotal {
    margin-left: auto;
  }
}
