.sign-in {
  @include register-signin-top-styles;

  &__logo {
    @include register-signin-logo;
  }

  &__container {
    min-height: 40rem;
    @include register-signin-container;
  }

  &__form {
    height: 50%;
    display: grid;
    grid-template-rows: repeat(3, 1fr) 5px 1fr;
    align-items: center;
    margin-bottom: 2.5rem;
    row-gap: 2rem;
    .MuiInputLabel-root {
      font-size: 1.3rem;
      background-color: white;
    }
  }

  &__text {
    @include register-signin-text;
  }

  &__email {
  }
  &__password {
  }

  &__text-password {
    font-size: 1rem;
    font-weight: 300;
    color: blue;
  }
  &__error-msg {
    font-size: 1rem;
    font-weight: 400;
    color: red;
    text-align: center;
  }

  &__separator {
    @include register-signin-separator;
  }

  &__create-account {
    font-size: 1.2rem !important;
  }
}
