.sign-in {
  background-image: linear-gradient(to bottom, $primary, $secondary);
  min-height: 100vh;
  height: 55rem;
  display: flex;
  flex-direction: column;
  color: $text__color-contact;
  font-family: $font__secondary;

  justify-content: center;
  align-items: center;

  &__logo {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 30rem;
    height: 11.5rem;
    align-self: center;
  }

  &__container {
    background-color: white;
    width: 30rem;
    min-height: 40rem;

    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &__form {
    height: 50%;
    display: grid;
    grid-template-rows: repeat(3, 1fr) 5px 1fr;
    align-items: center;
    margin-bottom: 2.5rem;
    row-gap: 2rem;
    .MuiInputLabel-root {
      font-size: 1.3rem;
      background-color: white;
    }
  }

  &__text {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-weight: 200;
  }

  &__email {
  }
  &__password {
    font-family: inherit;
  }

  &__text-password {
    font-size: 1rem;
    font-weight: 300;
    color: blue;
  }
  &__error-msg {
    font-size: 1rem;
    font-weight: 400;
    color: red;
    text-align: center;
  }

  &__separator {
    height: 5rem;
    position: relative;

    &__text {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: white;
      line-height: 1;
      width: 3rem;
      text-align: center;
    }
    &__line {
      width: 100%;
      position: absolute;
      top: 50%;
    }
  }

  &__create-account {
    font-size: 1.2rem !important;
  }
}
